body{
  text-align: center;
  background:  #33363f;
}
h1{
  font-family: 'Poppins', sans-serif;
  color: white;
  text-transform: uppercase;
  

}
.stage{
  
  margin-top: 80px;
}
.square {
  width: 100px;
  height: 100px;
  background-color: #1a1a1a;
  border: 1px solid #4c1a40;
  border-radius: 9px;
  display: inline-block;
  
}

.o{
  position: relative;
}
.o:after{
  position: absolute;
  content: "⭕";
  font-size: 50px;
  line-height: 100px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}
.x{
  position: relative;
}
.x:after{
  position: absolute;
  content: "❌";
  font-size: 50px;
  line-height: 100px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

#btn {
  width: 300px;
  height: 30px;
  border-radius: 3px;
  font-weight: bold;
  color: #fff;
  background-color: #3a3aff;
  padding: 2px;
  margin: 20px;
  border: none;
  box-shadow: 0 0 0.7em #5768ff;
  transition: color 0.2s;
}

#btn:hover {
  background-color: #2323a1;

}

#btn:active {
  box-shadow:none;
}
